* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(128, 0, 128), rgba(128, 0, 128, 0.5)),
    url(img.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body {
  background-color: white;
}
nav {
  height: 70px;
  padding: 0px 70px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.menu a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-weight: bolder;
}
.menu a:hover {
  color: maroon;
}
.menu a:last-child {
  background: maroon;
  color: white;
  border-radius: 8px;
  box-shadow: grey;
}

.text {
  position: absolute;
  top: 20%;
  left: 5%;
  padding: 15px;
}
.text p {
  color: maroon;
  letter-spacing: 3px;
  font-size: 50px;
}
.text h6 {
  color: maroon;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  font-size: 130px;
  /* margin-top: 5px; */
  margin-left: 10px;
}
.text h5 {
  font-size: 60px;
  margin-top: 5px;
  margin-left: 12px;
  font-weight: bold;
}
.text h3 {
  font-size: 30px;
  margin-top: 5px;
  margin-left: 12px;
  color: maroon;
}
.text {
  margin-left: 80px;
}
button {
  margin-top: 10px;
  background: maroon;
  color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: black;
  margin-left: 50px;
}
button:hover {
  box-shadow: black;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.order {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
